
<nav>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-danger">LOGOUT</button>
            </li>
        </ul>
    </div>
</nav>

